{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center">Docker-project with Bootstrap</h2>
    </div>
{% endblock %}
